body
 {
    
    padding:0px;
    font-family:Helvetica;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(7%,#2c2c2c), color-stop(12%,#070707), color-stop(17%,#000000), color-stop(21%,#000000), color-stop(23%,#0a0a0a), color-stop(23%,#0a0a0a), color-stop(25%,#0a0a0a), color-stop(39%,#070707), color-stop(48%,#000000), color-stop(48%,#000000), color-stop(72%,#000000), color-stop(91%,#1c1c1c), color-stop(99%,#111111), color-stop(99%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
 }

#container
{
    width:905px;
    margin:30px auto;
    background:white;
    padding:10px;
    border:black solid 1px;
    border-radius: 10px;
    background-color: #101010;
}

header
{
    
    text-align: center;
}

#maincontent
{
    float:right;
    width:610px;
    height:auto 90px;;
    padding:10px;
    border-radius: 10px;
    background:white;
    border:black solid 2px;
    background-color: #040404;
    color: white;
    margin-top: -1px;
    margin-bottom: 10px;
}

aside
{
    float:left;
    width:210px;
    height:300px;
    padding:10px;
    border-radius: 10px;
    background:white;
    border:black solid 2px;
    background-color: #040404;
}

a:link {color:#FF6A00;}      /* unvisited link */
a:visited {color:#FF6A00;}  /* visited link */
a:hover {color:#FF6A00;}  /* mouse over link */
a:active {color:#FF6A00;}  /* selected link */


footer
{
    width:500px;
    height:60px;
    padding:10px;
    margin:0px auto;
    background:white;
    border:black solid 2px;
    clear: both;
}

div.menu {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    font-style: oblique ;
    color: #FA630B;
    text-align: center;
    position:static;
    border:black solid 2px;
    border-radius: 10px;
    width:905px;
    margin-left:330px;
    height: 50px;
    padding:10px;
    margin-left: 327px;
    background-color: #242424;
    padding-top: 30px;
}

#follow {
    float: left;
    width:210px;
    height:100px;
    padding:10px;
    border-radius: 10px;
    background:white;
    border:black solid 2px;
    background-color: #040404;
    margin-top: 10px;
}

.menu input[type=text] {
    width: 80px;
    font-size: 12px;
    height: 6px;
}
.menu input[type=submit] {
    width: 80px;
    font-size: 12px;
}

.menu select {
    width: 140px;
    font-size: 12px;
}

footer {
    border:black solid 2px;
    border-radius: 10px;
    background-color: #242424;
    margin-left: 270px;
    width:610px;
}

#cart_table > td{
    margin-left: 10px;
}

#maincontent2
{
    float:right;
    width:610px;
    height: 400px;;
    padding:10px;
    border-radius: 10px;
    background:white;
    border:black solid 2px;
    background-color: #040404;
    color: white;
    margin-top: -1px;
    margin-bottom: 10px;
}
